<h2>{{quiz.title}}</h2>

<ul class="list-group col-6">

  <li class="list-group-item"
      *ngFor="let question of quiz.questions">

    <h4>
      {{question.title}}
      <span class="float-right">
        {{question.points}} pts
      </span>
    </h4>

    <p>
      {{question.description}}
    </p>

    <div [ngSwitch]="question.questionType">
      <app-true-false [question]="question" *ngSwitchCase="'TRUE_FALSE'"></app-true-false>
      <app-fill-blanks [question]="question" *ngSwitchCase="'FILL_BLANKS'"></app-fill-blanks>
      <app-essay [question]="question" *ngSwitchCase="'ESSAY'"></app-essay>
      <app-mulitple-choice [question]="question" *ngSwitchCase="'CHOICE'"></app-mulitple-choice>
    </div>

  </li>

  <div class="col-12">
    <button class="btn btn-outline-success col-3 float-right"
            id="submit"
            (click)="submit(quiz)">
      Submit
    </button>
    <button class="btn btn-outline-danger col-3 float-right">
      Cancel
    </button>
  </div>

</ul>
