<ul class="nav nav-pills">

    <li class="nav-item">
      <h2>
        Whiteboard
      </h2>
    </li>

    <li class="nav-item active">
      <a class="nav-link"  routerLink="/courses">Courses Navigator</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link"  routerLink="/grid">Courses Grid</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/sections">Sections</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/enrollment">Enrollment</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/login">Login</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/register">Register</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/profile">Profile</a>
    </li>

  </ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
