<div class="container col-5">

  <h2>
    Register
  </h2>

  <label for="username">
    Username
  </label>
  <input  placeholder="alice"
          id="username"
          class="form-control"/>

  <label for="password">
    Password
  </label>
  <input  placeholder="********"
          id="password"
          class="form-control">

  <label for="password2">
    Verify Password
  </label>
  <input  placeholder="********"
          id="password2"
          class="form-control">

  <button class="btn btn-outline-primary">
    Register
  </button>

</div>
